
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="description" content="藤之声" />
    <meta name="keywords" content="藤之声" />
    <title>【藤之声】</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/image/favicon/favicon-32x32.png">

    <script>
    (function (doc, win) {
        var docEl = doc.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
          var clientWidth = docEl.clientWidth;
          if (!clientWidth) return;
          if (clientWidth > 768) {
            clientWidth = 768;
          }
          docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
        };
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        recalc();
    })(document, window);
    </script>
    <style>

    </style>
        <link rel="stylesheet" href="../static/style/index.css" />
</head>
<body>

    <div id="app" class="app-loading">
        <div class="page page-item-detail">
            <div id="头部区域">
              <div class="page-item-detail-major-image class-detail-top"> 
                  <video src="../static/image/tmp/video.mp4" controls></video> 
                  <div class="title">哈佛大学法学专业申请技巧全解析</div>
                  <div class="sub-title"><span>贾伟</span><span>哈佛大学法学院</span><span>博士在读</span></div>
                  <div class="info-tigongfuwu flex middle"><span class="fc-org">399次播放</span><a href="###" class="sprite sprite-favico-black"></a><a href="###" class="sprite sprite-favico-origin"></a></div>
                 </div>
            </div>

            <div id="导师履历">
              <div class="detail-teacher-info">
                <div class="teacher-info-menu row flex ">
                  <div class="col-6"><a href="###" class="active">课程简介</a></div>
                  <div class="col-6"><a href="###" >课程简介</a></div>
                </div>
                <div id="导师详情内容">
                  <div class="teacher-info-text">
                    <p class="fc-orgin">导师履历</p>
                    <p class="textindent2 justify">
                            贾伟，洛可可设计公司创始人。被誉为兼具商业头脑和设计才华的商业设计师第一人。 温和力量创造和谐设计的理念，追求设计达到一种和谐。包括对中国文化、设计趋势、商业价值三者的完美融合。贾伟设计的许多作品多次取得红点设计大奖、IF奖、IDEA奖等国际奖项。
                    </p>
                    <p class="fc-orgin">课程简介</p>
                    <p class="textindent2 justify">
                            课程，包括文化课程、活动课程、实践课程、隐性课程。文化课程包括国家课程、地方课程、校本课程，活动课程包括阳光体育、大型活动、兴趣小组生会、团委等学生团体组织的自主活动、综合实践活动，隐性课程包括除了上述几类课程，一切有利于学生发展的资源、环境、学校的文化建设、家校社会一体化等。
                    </p>
                  </div>
                </div>

                <div id="课程目录list">
                  <div class="class-detail-list">
                    <ul>
                      <li><a href="###"><span class="sprite sprite-play-btn"></span>【第一课】哈佛大学法学专业申请需要的第一步【第一课】哈佛大学法学专业申请需要的第一步</a></li>
                      <li><a href="###"><span class="sprite sprite-play-btn"></span>【第一课】哈佛大学法学专业申请需要的第一步</a></li>
                      <li><a href="###"><span class="sprite sprite-play-btn"></span>【第一课】哈佛大学法学专业申请需要的第一步</a></li>
                      <li><a href="###"><span class="sprite sprite-play-btn"></span>【第一课】哈佛大学法学专业申请需要的第一步</a></li>
                      <li><a href="###"><span class="sprite sprite-play-btn"></span>【第一课】哈佛大学法学专业申请需要的第一步</a></li>
                      <li><a href="###"><span class="sprite sprite-play-btn"></span>【第一课】哈佛大学法学专业申请需要的第一步</a></li>
                    </ul>
                  </div>
                </div>



              </div>

            </div>





            <div class="tabbar">
              <div class="tabbar-yuyue row flex">
                <div class="col-6"><span class="tabbar-yuyue-price-span">¥<em>3</em><sub>00</sub>/次</span></div>
                <div class="col-6"><a href="/" class="tabbar-yuyue-btn-orgin">立即购买</a></div>
              </div>
            </div>




        </div>
    </div>

    <script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement;
        var app = document.getElementById('app');

        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
            app.style.height = docEl.clientHeight + 'px';
        };
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        recalc();
    })(document, window);
    </script>

</body>
</html>
