<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="description" content="藤之声" />
    <meta name="keywords" content="藤之声" />
    <title>【藤之声】</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/image/favicon/favicon-32x32.png">

    <script>
    (function (doc, win) {
        var docEl = doc.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
          var clientWidth = docEl.clientWidth;
          if (!clientWidth) return;
          if (clientWidth > 768) {
            clientWidth = 768;
          }
          docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
        };
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        recalc();
    })(document, window);
    </script>
    <style>

    </style>
        <link rel="stylesheet" href="../static/style/index.css" />
</head>
<body>

        <div id="app" class="app-loading" style="height: 568px;">
            <div class="page page-item-list page-class-list">
                <div id="筛选">
                  <div class="header-filter-space">
                    <div class="header-inner">
                    <div class="item-list-filter"><ul class="filter-titles"><li class="active"><span>文书润色</span></li><li class=""><span>申请方法</span></li><li class=""><span>职业发展</span></li><li class=""><span>海外生活</span></li></ul>
                    </div>
                    </div>
                    </div>
                </div>
                <div class="model_tag">
                    <a class="tag-box active">
                        <div class="tag-box-title"><span class="spirte icon_yuyanrunse"></span>语言润色</div>
                        <div class="tag-box-info">
                            服务时间：1稿/3天（可加急至1.5天）
                            <br>适用于已有文书初稿，需要着重进行语法拼写修改的用户
                            <br>适用文书类型：PS/SOP/RL/ESSAY
                            <br>服务价格：300单词内315元，超出部分0.98元/单词</div>
                    </a>
                    <a class="tag-box">
                        <div class="tag-box-title"><span class="spirte icon_shenduxiugai"></span>深度修改</div>
                        <div class="tag-box-info">
                            服务时间：2稿/6天（可加急至3.5天）
                            <br>适用于已有文书初稿，需要着重进行语法拼写修改的用户
                            <br>适用文书类型：PS/SOP/RL/ESSAY
                            <br>服务价格：300单词内315元，超出部分0.98元/单词</div>
                    </a>
                    <a class="tag-box">
                        <div class="tag-box-title"><span class="spirte icon_vip"></span>VIP精修</div>
                        <div class="tag-box-info">
                            服务时间：4稿/10天（可加急至6.5天）
                            <br>适用于已有文书初稿，需要着重进行语法拼写修改的用户
                            <br>适用文书类型：PS/SOP/RL/ESSAY
                            <br>服务价格：300单词内315元，超出部分0.98元/单词</div>
                    </a>
                </div>
    
                <div id="导师履历">
                        <div class="detail-teacher-info">
                          <div class="teacher-info-menu">
                              <div class="title">
                              <span class="fc-org">用户评价</span>(18)</div>
                          </div>
                          <div id="用户评价内容">
                            <div class="teacher-info-evaluate">
                              <div class="teacher-info-evaluate-title flex middle"><span class="sprite sprite-pingfen"></span><span>综合评分：<b>4.89</b><sub>分</sub></span></div>
          
                              <div class="list-comment"><div><div><div class="com-item row flex"><div class="user-log"><img src="https://tfs.alipayobjects.com/images/partner/T18FlaXklXXXXXXXXX"></div><div class="comment-cont col-flex"><div class="title flex middle justify"><span class="name">138****0088</span></div><p class="desc">Ability to work independent1y, mature and resourceful. A person with ability plus flexibility should apply. </p>
                              <p class="time">2019-04-01<span>18:45:55</span><span class="star-score"><i class="bar" style="width: 40%;"></i></span></p></div></div></div></div></div>
                              <div class="list-comment"><div><div><div class="com-item row flex"><div class="user-log"><img src="https://tfs.alipayobjects.com/images/partner/T18FlaXklXXXXXXXXX"></div><div class="comment-cont col-flex"><div class="title flex middle justify"><span class="name">138****0088</span></div><p class="desc">Ability to work independent1y, mature and resourceful. A person with ability plus flexibility should apply. </p>
                              <p class="time">2019-04-01<span>18:45:55</span><span class="star-score"><i class="bar" style="width: 60%;"></i></span></p></div></div></div></div></div>
                              <div class="list-comment"><div><div><div class="com-item row flex"><div class="user-log"><img src="https://tfs.alipayobjects.com/images/partner/T18FlaXklXXXXXXXXX"></div><div class="comment-cont col-flex"><div class="title flex middle justify"><span class="name">138****0088</span></div><p class="desc">Ability to work independent1y, mature and resourceful. A person with ability plus flexibility should apply. </p>
                              <p class="time">2019-04-01<span>18:45:55</span><span class="star-score"><i class="bar" style="width: 100%;"></i></span></p></div></div></div></div></div>
          
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="slither">
                        <div class="slither-show">
                          <div class="bgline"><a class="line-org" style="width: 30%"><span class="sliter-btn"></span></a></div>
                          <div class="word-price"><span class="word-left">300</span><span class="word-center">单词数量：<b>500</b></span><span class="word-right">1500</span></div>
                        </div>
                      </div>
                      <div class="tabbar">
                            <div class="tabbar-yuyue row flex">
                              <div class="col-5"><span class="tabbar-fuwu-price-span">¥<em>3</em><sub>00</sub>/次</span></div>
                              <div class="col-3"><a class="tabbar-input-check"><span class="spirte sprite-check sprite-checkon"></span>加急</a></div>
                              <div class="col-4"><a href="/" class="tabbar-yuyue-btn-orgin">立即预约</a></div>
                            </div>
                          </div>
    
    
    
    
    
    
    
    
    
    
    
    
                  </div>
    
    
    
    
    
            </div>
        
    
        <script type="text/javascript">
        (function (doc, win) {
            var docEl = doc.documentElement;
            var app = document.getElementById('app');
    
            resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
            recalc = function () {
                app.style.height = docEl.clientHeight + 'px';
            };
            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            recalc();
        })(document, window);
        </script>
    
    
    
    </body>
</html>
