<!DOCTYPE html>
<html>
 <head> 
  <meta charset="utf-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" /> 
  <meta name="format-detection" content="telephone=no" /> 
  <meta name="apple-touch-fullscreen" content="yes" /> 
  <meta name="description" content="藤之声" /> 
  <meta name="keywords" content="藤之声" /> 
  <title>【藤之声】</title> 
  <link rel="icon" type="image/png" sizes="32x32" href="/image/favicon/favicon-32x32.png" /> 
  <script>
    (function (doc, win) {
        var docEl = doc.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
          var clientWidth = docEl.clientWidth;
          if (!clientWidth) return;
          if (clientWidth > 768) {
            clientWidth = 768;
          }
          docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
        };
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        recalc();
    })(document, window);
    </script> 
  <style>

    </style> 
  <link rel="stylesheet" href="../static/style/index.css" /> 
 </head> 
 <body> 
  <div id="app" class="app-loading" style="height: 568px;"> 
   <div class="page page-success"> 
    <div id="支付失败">
      <div class="page-success-info">
        <div class="font-fail fc-red"><i class="sprite sprite-fail"></i>支付失败</div>
        <div class="page-success-aview"><a href="###" class="btn-gray-sm">查看订单</a>&nbsp;&nbsp;<a href="/" class="btn-gray-sm">回首页</a></div>
        
      </div>
    </div> 
   </div> 
  </div> 
  <script type="text/javascript">
        (function (doc, win) {
            var docEl = doc.documentElement;
            var app = document.getElementById('app');
    
            resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
            recalc = function () {
                app.style.height = docEl.clientHeight + 'px';
            };
            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            recalc();
        })(document, window);
        </script>   
 </body>
</html>