<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="description" content="藤之声" />
    <meta name="keywords" content="藤之声" />
    <title>【藤之声】</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/image/favicon/favicon-32x32.png">

    <script>
    (function (doc, win) {
        var docEl = doc.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
          var clientWidth = docEl.clientWidth;
          if (!clientWidth) return;
          if (clientWidth > 768) {
            clientWidth = 768;
          }
          docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
        };
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        recalc();
    })(document, window);
    </script>
    <style>

    </style>
        <link rel="stylesheet" href="../static/style/index.css" />
</head>
<body>

    <div id="app" class="app-loading">
        <div class="page page-item-list">
            <div id="筛选">
              <div class="header-filter-space">
                <div class="header-inner">
                <div class="item-list-filter"><ul class="filter-titles"><li class="active"><span>订单类型</span><i class="sprite sprite-angle-oringin-up"></i></li><li class=""><span>订单状态</span><i class="sprite sprite-angle-black-down"></i></li></ul>


                    <div class="animate animate-fade-in filter-panel-container" style="display: none;"><div class="animate animate-slide-in-down filter-panel"><div class="scroll-container"><div style="max-height: 418px;"><div class="scroller" style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);"><div style="overflow: hidden;"><div class="border-bottom"><a href="###" class="filter-option">不限</a><a href="###" class="filter-option"><span>订单类型</span></a><a href="###" class="filter-option"><span>订单类型</span></a><a href="###" class="filter-option"><span>订单类型</span></a><a href="###" class="filter-option">订单类型<span></span></a><a href="###" class="filter-option"><span>订单类型</span></a></div>
                </div></div></div></div></div></div>
              </div>


                </div>
                </div>
            </div>

              <div class="order-list">
                <div class="order-list-div">
                  <div class="order-list-div-info flex">
                    <i class="sprite sprite-order-guwen"></i>
                    <p>常青藤大学对于每一个想要去美国留学的申请者来说都是常青藤大学对于每一个想要去美国留学的申请者来说都是</p>
                    <span class="box-zhuangtai">待支付</span>
                  </div>
                  <div class="order-list-div-code flex middle"><span class="fc-gray">订单编号：888889888</span><a href="###" class="order-list-btn-gray-sm">取消订单</a></div>
                </div>
                <div class="order-list-div">
                  <div class="order-list-div-info flex">
                    <i class="sprite sprite-order-music"></i>
                    <p>常青藤大学对于每一个想要去美国留学的申请者来说都是常青藤大学对于每一个想要去美国留学的申请者来说都是</p>
                    <span class="box-zhuangtai">已完成</span>
                  </div>
                  <div class="order-list-div-code flex middle"><span class="fc-gray">订单编号：888889888</span><a href="###" class="order-list-btn-gray-sm">立即评价</a></div>
                </div>
                <div class="order-list-div">
                  <div class="order-list-div-info flex">
                    <i class="sprite sprite-order-book"></i>
                    <p>常青藤大学对于每一个想要去美国留学的申请者来说都是常青藤大学对于每一个想要去美国留学的申请者来说都是</p>
                    <span class="box-zhuangtai">已支付</span>
                  </div>
                  <div class="order-list-div-code flex middle"><span class="fc-gray">订单编号：888889888</span><a href="###" class="order-list-btn-gray-sm">立即评价</a></div>
                </div>
                <div class="order-list-div">
                  <div class="order-list-div-info flex">
                    <i class="sprite sprite-order-guwen"></i>
                    <p>常青藤大学对于每一个想要去美国留学的申请者来说都是常青藤大学对于每一个想要去美国留学的申请者来说都是</p>
                    <span class="box-zhuangtai">已支付</span>
                  </div>
                  <div class="order-list-div-code flex middle"><span class="fc-gray">订单编号：888889888</span><a href="###" class="order-list-btn-gray-sm">确认完成咨询</a></div>
                </div>
                <div class="order-list-div">
                  <div class="order-list-div-info flex">
                    <i class="sprite sprite-order-book"></i>
                    <p>常青藤大学对于每一个想要去美国留学的申请者来说都是常青藤大学对于每一个想要去美国留学的申请者来说都是</p>
                    <span class="box-zhuangtai">已支付</span>
                  </div>
                  <div class="order-list-div-code flex middle"><span class="fc-gray">订单编号：888889888</span><a href="###" class="order-list-btn-gray-sm">提交初稿</a></div>
                </div>















              </div>
        </div>
    </div>

    <script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement;
        var app = document.getElementById('app');

        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
            app.style.height = docEl.clientHeight + 'px';
        };
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        recalc();
    })(document, window);
    </script>

</body>
</html>
