
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="description" content="藤之声" />
    <meta name="keywords" content="藤之声" />
    <title>【藤之声】</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/image/favicon/favicon-32x32.png">

    <script>
    (function (doc, win) {
        var docEl = doc.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
          var clientWidth = docEl.clientWidth;
          if (!clientWidth) return;
          if (clientWidth > 768) {
            clientWidth = 768;
          }
          docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
        };
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        recalc();
    })(document, window);
    </script>
    <style>

    </style>
        <link rel="stylesheet" href="../static/style/index.css" />
</head>
<body>

    <div id="app" class="app-loading">
        <div class="page page-item-detail">
            <div id="头部区域">
              <div class="page-item-detail-major-image"> 
                  <img src="../static/image/user/headpic.jpg" alt="">
                  <div class="username">Mary Yang</div>
                  <div class="fc-gray"><span>市场营销</span><span>西北大学</span></div>
                  <div class="detail-info">常青藤大学对于每一个想要去美国留学的申请者来说都是一个神一般的存在常青藤大学对于每一个想要去美国留学的申请者来都是一个神一般的存在常青藤大学对于每一个想要去美国留学的申请者来说都是一个神一般的存在常青藤大学对于每一个想要去美国留学的申请来说都是一个神一般的存在常青藤大学对于每一个想要个想要去美国留学的申请者来说都是一个神一般的存在</div>
                  <div class="info-tigongfuwu flex middle"><span class="fc-gray">提供服务</span><sub>专业</sub><sub class="sub02">选校</sub><sub class="sub03">文书</sub><span class="fc-gray left-space">已预约:399次</span><a href="###" class="sprite sprite-favico-black"></a><a href="###" class="sprite sprite-favico-origin"></a></div>
                 </div>
            </div>

            <div id="导师履历">
              <div class="detail-teacher-info">
                <div class="teacher-info-menu row flex ">
                  <div class="col-6"><a href="###" class="active">导师详情</a></div>
                  <div class="col-6"><a href="###" >用户评价(18)</a></div>
                </div>
                <div id="导师详情内容">
                  <div class="teacher-info-text">
                    <p class="fc-orgin">导师履历</p>
                    <p>
                      让宝宝按照从短到长的顺序排列木块；和宝宝一起讨论木块上的动物以及它们的高度（长度）；将木块紧贴着或整齐的叠在一起，锻炼认真细致的态度。
                    </p>
                    <p class="fc-orgin">专业领域</p>
                    <p>
                      让宝宝按照从短到长的顺序排列木块；和宝宝一起讨论木块上的动物以及它们的高度（长度）；将木块紧贴着或整齐的叠在一起，锻炼认真细致的态度。
                    </p>
                  </div>
                </div>


                <div id="用户评价内容">
                  <div class="teacher-info-evaluate">
                    <div class="teacher-info-evaluate-title flex middle"><span class="sprite sprite-pingfen"></span><span>综合评分：<b>4.89</b><sub>分</sub></span></div>

                    <div class="list-comment"><div><div><div class="com-item row flex"><div class="user-log"><img src="https://tfs.alipayobjects.com/images/partner/T18FlaXklXXXXXXXXX"></div><div class="comment-cont col-flex"><div class="title flex middle justify"><span class="name">138****0088</span></div><p class="desc">Ability to work independent1y, mature and resourceful. A person with ability plus flexibility should apply. </p>
                    <p class="time">2019-04-01<span>18:45:55</span><span class="star-score"><i class="bar" style="width: 40%;"></i></span></p></div></div></div></div></div>
                    <div class="list-comment"><div><div><div class="com-item row flex"><div class="user-log"><img src="https://tfs.alipayobjects.com/images/partner/T18FlaXklXXXXXXXXX"></div><div class="comment-cont col-flex"><div class="title flex middle justify"><span class="name">138****0088</span></div><p class="desc">Ability to work independent1y, mature and resourceful. A person with ability plus flexibility should apply. </p>
                    <p class="time">2019-04-01<span>18:45:55</span><span class="star-score"><i class="bar" style="width: 60%;"></i></span></p></div></div></div></div></div>
                    <div class="list-comment"><div><div><div class="com-item row flex"><div class="user-log"><img src="https://tfs.alipayobjects.com/images/partner/T18FlaXklXXXXXXXXX"></div><div class="comment-cont col-flex"><div class="title flex middle justify"><span class="name">138****0088</span></div><p class="desc">Ability to work independent1y, mature and resourceful. A person with ability plus flexibility should apply. </p>
                    <p class="time">2019-04-01<span>18:45:55</span><span class="star-score"><i class="bar" style="width: 100%;"></i></span></p></div></div></div></div></div>

                  </div>
                </div>





              </div>

            </div>





            <div class="tabbar">
              <div class="tabbar-yuyue row flex">
                <div class="col-6"><span class="tabbar-yuyue-price-span">¥<em>3</em><sub>00</sub>/次</span></div>
                <div class="col-6"><a href="/" class="tabbar-yuyue-btn-orgin">立即预约</a></div>
              </div>
            </div>




        </div>
    </div>

    <script type="text/javascript">
    (function (doc, win) {
        var docEl = doc.documentElement;
        var app = document.getElementById('app');

        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
            app.style.height = docEl.clientHeight + 'px';
        };
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        recalc();
    })(document, window);
    </script>

</body>
</html>
